# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Others
TeamTalk_Ceontos7_64bit.opensdf
TeamTalk_Ceontos7_64bit.sdf
TeamTalk_Ceontos7_64bit.sln
TeamTalk_Ceontos7_64bit.v11.suo
TeamTalk_Ceontos7_64bit.vcxproj
TeamTalk_Ceontos7_64bit.vcxproj.filters
TeamTalk_Ceontos7_64bit.vcxproj.user
android/
ios/
mac/
TeamTalk_Server.sdf
TeamTalk_Server.v11.suo
TeamTalk_Server.opensdf




